.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 5vw;
    padding-left: 5vw;
    margin-bottom: 5%;
    gap: 0px;

}

.buttons {
    margin-top: 5%;
    display: flex;
    justify-content: right;
    margin-right: 5%;
}